################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FullStackLukas-Quint/v17
/ChampionsLeague/.vs/ChampionsLeague/CopilotIndices/17.14.1431.25910
