################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/ChampionsLeague/.vs/ChampionsLeague/CopilotIndices/17.14.1431.25910
.vs/
bin/
obj/
Debug/