################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FullStackLukas-Quint/v17
/ChampionsLeague/.vs/ChampionsLeague/CopilotIndices/17.14.1431.25910
.vs/
/ChampionsLeague.bak
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/ChampionsLeague/ChampionsLeague.Domain/Data/DbContextChampionsLeague.cs
/ChampionsLeague/ChampionsLeague.Domain/Entities/AspNetRole.cs
/ChampionsLeague/ChampionsLeague.Domain/DataDB/ChampionsLeagueDbContext.cs
