@model IEnumerable<ChampionsLeague.ViewModels.ClubSelectVM>

@{
    ViewData["Title"] = "StadiumSelect";
}

<h1>Select a Stadium</h1>

<select>
    @foreach (var item in Model)
    {
        <option value="@item.ClubId">@item.Name</option>
    }

</select>

    
