@model ChampionsLeague.ViewModels.StadiumVM

<h2>@Model.Name</h2>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Adres:</strong> @Model.Address</p>
<p><strong>Abonnement plaatsen:</strong> @Model.SubscriptionSeats</p>

<a asp-controller="Match" asp-action="Index" class="btn btn-primary">Terug</a>