@model IEnumerable<ChampionsLeague.ViewModels.CalendarSelectVM>

@{
    ViewData["Title"] = "Calendar";
}

<h1>Calendar</h1>

<select>
    @foreach (var item in Model)
    {
        <option value="@item.ClubId">@item.Name</option>
    }

</select>

    
