@model ChampionsLeague.ViewModels.ClubSelectVM

<h1>Match calendar</h1>

<div class="row">
    <div class="col-md-4">

        <form id="clubForm"
              asp-action="Index"
              method="post"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#content"
              data-ajax-loading="#divloading"
              data-ajax-success="Success"
              data-ajax-failure="Failure">


            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="ClubId">Select a club</label>

                <select asp-for="ClubId"
                        asp-items="@Model.Clubs"
                        class="form-control form-select"
                        id="ClubId">
                    <option value="0">Select a club</option>
                </select>
            </div>
        </form>

    </div>
</div>

<div id="divloading" style="display:none;">Loading...</div>

<div id="content">
    <p>No club has been selected yet</p>
</div>

@section scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        // Trigger AJAX submit when club changes
                $("#ClubId").on("change", function () {
            $("#clubForm").trigger("submit");
        });


        let Success = () => {
            $("#divloading").hide();
        };

        let Failure = () => {
            alert("Error loading matches");
        };
    </script>
}
